.loadMoreButton {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadMoreButton button {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border: 2px solid black;
  outline: none;
  background-color: transparent;
  font-weight: 500;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
