.loadMoreButton {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loadMoreButton button {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border: 2px solid black;
  outline: none;
  background-color: transparent;
  font-weight: 500;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.allParent {
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .sectionOne {
    min-height: 80vh;
    height: auto !important;
    flex-wrap: wrap !important;
  }
  .sectionFour,
  .blogs {
    display: none !important;
  }
  .sectionOne > div {
    flex: 1 1 20rem !important;
  }
  .allParent > div:nth-of-type(1) {
    order: 1;
  }
  .allParent > div:nth-of-type(2) {
    order: 3;
  }
  .allParent > div:nth-of-type(3) {
    order: 2;
  }
  .allParent > div:nth-of-type(4) {
    order: 4;
  }
  .allParent > div:nth-of-type(5) {
    order: 5;
  }
  .allParent > div:nth-of-type(6) {
    order: 6;
  }
  .allParent > div:nth-of-type(7) {
    order: 7;
  }
  .allParent > div:nth-of-type(8) {
    order: 8;
  }
}
